*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #13547a,#80d0c7);
    color: #ffffff;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
}

header{
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 20px;
}

header, form{
    max-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.task_form input, .task_form button{
    font-size: 2rem;
    padding: 0.5rem;
    border: none;
    background-color: #ffffff;
}

.task_form button{
    padding-right: 15px;
    padding-left: 15px;
}

.task_form button{
    background-color: white;
    color: orange;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.task_form button:hover{
    background-color: orange;
    color: white;
}

.task_form{
    margin-bottom: 100px;
}

/* List of Task */

.task_container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.task_list, .completed_task_list{
    list-style: none;
    min-width: 35%;
}


.listTask{
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 5px 0;
    transition: all 0.5s ease;
}

.listTask li{
    flex: 1;
    margin: 9px;

}

.listMark, .deleteList{
    font-size: 1rem;
    border: none;
    padding: 1rem;
    color: white;
}

.listMark{
    background-color: green;
}

.deleteList{
    background-color: red;
}

.fa{
    pointer-events: none;
}

.completed_task{
    text-decoration: line-through;
    opacity: 0.5;
}

.fallAnimation{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


/*Effects*/
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top:0%;
    right: 0%;
    pointer-events: none;
    padding: 1rem;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #ff6f47;
}